# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Deploying to Tomcat Local

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    name: Deploying to Local Tomcat Weblogic Server
    runs-on: self-hosted

    steps:
    #Checking out the code
    - name: Step-1 Checkout the code
      uses: actions/checkout@v2
      
    #Build the project with maven build
    - name: Step-2 Build with Maven
      run: mvn clean install
      
   
