# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Deploying to Weblogic Local

on:
  push:
  
jobs:
  build:
    name: Deploying to Local Weblogic Server
    runs-on: self-hosted

    steps:
    #Checking out the code
    - name: Step-1 Checkout the code
      uses: actions/checkout@v2
      
  
    
  #Build with Maven Goals
    - name: Step-2 Build with Maven
      run: mvn clean install
      
  # Upload to artifactory
   # - name: Step-3 Upload to Artifactory
   #   run:  Remove-item alias:curl;
     #       curl -X PUT -u ${{ secrets.USERNAME_ARTIFACTORY }}:${{ secrets.PASSWORD_ARTIFACTORY }} -T C:\Users\s316735\GitHub_Actions\SelfHosted_runner\_work\MultiJobs_Pipeline\MultiJobs_Pipeline\target\HelloWorld.war "http://localhost:8082/artifactory/CG_AEP-libs-release-local/HelloWorld.war"

  #Zip the code
    - name: Step-4 Zip the Source code
      uses: papeloto/action-zip@v1
      with:
          dest: WebApp.zip
          
  #Verify the Zip folder
    - name: Step-5 Verify Directory
      run: dir
      
  #Move the Zip to D: drive
    - name: Step-6 Move Directory to D drive
      run: move-Item "WebApp.zip" "D:\Actions\"  -Force
    - name : Run powershell
      id: shell
      run: |
           $result = ./welcome.ps1
           $string = Write-Output -InputObject $result
           echo ${{ steps.shell.outputs.result }}
       
    
    - name: Set output value
      run: echo '::set-output = $(./welcome.ps1)'
      id: output-is
      
    - name: Get Value
      run: echo "The Output is ${{ steps.output-is.outputs }}"
      
    - name: Set selected color
      run: echo '::set-output name=SELECTED_COLOR::green'
      id: random-color-generator
    
    - name: Get color
      run: echo "The selected color is ${{ steps.random-color-generator.outputs.SELECTED_COLOR }}"
      if: ${{ steps.random-color-generator.outputs.SELECTED_COLOR == 'red'}}
