# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Deploying to Weblogic Local

on:
  push:
  
jobs:
  build:
    name: Deploying to Local Weblogic Server
    runs-on: self-hosted

    steps:
    #Checking out the code
    - name: Step-1 Checkout the code
      uses: actions/checkout@v2
      
    #Build the project with maven build
    - name: Step-2 Build with Maven
      run: mvn clean install
      
    - name: Read value from Properties-file
      id: read_property
      uses: Reedyuk/read-properties@v1.0.1
      with:
       path: './src/main/file.properties'
       property: 'password'

    - name: Do something with your bumped release version
      run: echo ${{ steps.read_property.outputs.value }}
  # will print "the value of 'the.key.of.the.property'"
   
