# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  workflow_dispatch:

jobs:
  
  build:
    
    runs-on: unbuntu-latest

    
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Runs a single command using the runners shell
      - name: Run a one-line script
        run: echo Hello, world!
      
      - name: Trigger pipeline
        uses:  mego22/actions-workflow-pipeline@v2
        with:
          token: "${{ secrets.TOKEN }}"
          dispatch: '[{"org": "BorraVisalakshi" ,"repo": "Actions", "branch": "main", "workflow": "main.yml"}]'
        
      
      # Runs a set of commands using the runners shell
      - name: Run a multi-line script
        run: |
          echo Add other actions to build,
          echo test, and deploy your project.
      
      

      
