# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  workflow_dispatch:

jobs:
  
  build:
    
    runs-on: self-hosted

    
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Runs a single command using the runners shell
      - name: Run a one-line script
        run: echo Hello, world!

      # Runs a set of commands using the runners shell
      - name: Run a multi-line script
        run: |
          echo Add other actions to build,
          echo test, and deploy your project.
      
      - uses: convictional/trigger-workflow-and-wait@v1.3.0
        with:
          owner: BorraVisalakshi
          repo: Actions
          github_token: ${{ secrets.PAT }}
          workflow_file_name: main.yml
          

      
